## IMPORTAR LIBRERIAS

In [ ]:
import pandas as pd
import numpy as np
import os
from tabulate import tabulate
import warnings
warnings.filterwarnings('ignore')

## Cargar archivos

In [ ]:
### Características Equipos

equipos = pd.read_csv('../data/Caracteristicas_Equipos.csv')
equipos_df = pd.DataFrame(equipos)

In [99]:
### Historicos Ordenes

ordenes = pd.read_csv('../data/Historicos_Ordenes.csv')
ordenes_df = pd.DataFrame(ordenes)

In [ ]:
### Registros Condiciones

condiciones = pd.read_csv('../data/Registros_Condiciones.csv')
condiciones_df = pd.DataFrame(condiciones)

### LIMPIEZA Y PERFILADO DE CARACTERISTICAS EQUIPOS

In [ ]:
# Mostrar las primeras filas de cada dataset
equipos_df.head()

In [ ]:
# Revisar info del df
equipos_df.info()

In [ ]:
# Datos vacios
print('Datos vacios en Caracteristicas_Equipos.csv\n',equipos_df.isna().sum())

In [ ]:
# Extremos
z_scores = (equipos_df-equipos_df.mean(numeric_only=True)) / \
    equipos_df.std(numeric_only=True)
z_scores_abs = z_scores.apply(np.abs)
print(tabulate(z_scores_abs, headers='keys'))

In [ ]:
umbral = 3

out_mask = ~z_scores[z_scores_abs > umbral].isna()
print('\nOutliers per column:\n')
print(out_mask.sum())

In [ ]:
# Mostrar todas las filas duplicadas
print('\nSumatorio duplicados en sales', equipos_df.duplicated().sum())
equipos_df[equipos_df.duplicated(keep=False)]

In [ ]:
# Elimino filas duplicadas

equipos_df_clean = equipos_df.drop_duplicates(keep='first')
print('\nSumatorio duplicados en equipos_df:', equipos_df_clean.duplicated().sum())

In [ ]:
equipos_df_clean

In [ ]:
equipos_df_clean.info()

In [ ]:
# Cardinalidad

# Calcular el sumatorio de valores para cada columna
sum_values_sales = equipos_df_clean.count()

# Calcular el sumatorio de valores únicos para cada columna
unique_sum_sales = equipos_df_clean.nunique()

# Crear un nuevo DataFrame para mostrar ambos sumatorios
result_df_equipos = pd.DataFrame({
    'Sumatorio de valores': sum_values_sales,
    'Sumatorio de valores únicos': unique_sum_sales
})

print(result_df_equipos)

In [ ]:
# Columnas a 'category'

equipos_df_clean[['Tipo_Equipo', 'Fabricante', 'Modelo']] = equipos_df_clean[[
    'Tipo_Equipo', 'Fabricante', 'Modelo']].astype('category')

equipos_df_clean.info()

In [ ]:
equipos_df_clean.describe()

In [ ]:
equipos_df_clean.describe(include='category')

In [ ]:
# Existen equipos con Potencia menor de 0

print("\nEquipos con potencia <0 kW:", len(equipos_df_clean[equipos_df_clean['Potencia_kW'] < 0]))
equipos_df_clean[equipos_df_clean['Potencia_kW'] < 0]

In [ ]:
# Value_counts te muestra cuantos valores hay de cada valor único en la columna selecionada

print(equipos_df_clean[['Tipo_Equipo', 'Fabricante', 'Modelo']].value_counts())

In [ ]:
# Frecuencias en equipos

for col in equipos_df_clean.columns:
    print('\n- Frecuencias para "{0}"'.format(col), '\n')
    print(equipos_df_clean[col].value_counts())

In [ ]:
# Correlación

corr_equipos = equipos_df_clean.corr('pearson', numeric_only=True)
corr_equipos

In [ ]:
# Correlación

corr_equipos[(np.abs(corr_equipos) >= 0.7) & (np.abs(corr_equipos) >= 0.7)]

In [ ]:
# Sesgo

skw_equipos = equipos_df_clean.skew(numeric_only=True)
skw_equipos

In [ ]:
# Sesgo sales

skw_equipos[np.abs(skw_equipos) > 2]

In [ ]:
# Kurtosis

kurt_equipos = equipos_df_clean.kurt(numeric_only=True)
kurt_equipos

In [ ]:
# Kurtosis

kurt_equipos[np.abs(kurt_equipos) > 3]

In [ ]:
# Evaluar la unicidad de posibles claves primarias

# Crear una lista para almacenar los resultados
unike_keys_equipos = []

# Iterar sobre cada columna del DataFrame
for column in equipos_df_clean.columns:
    # Verificar si la columna tiene valores únicos
    if equipos_df_clean[column].is_unique:
        unike_keys_equipos.append(column)

# Mostrar las posibles claves primarias
print("Posibles claves primarias en equipos_df_clean:")
print(unike_keys_equipos)

### LIMPIEZA Y PERFILADO DE HISTORICOS ORDENES

In [100]:
# Mostrar las primeras filas de cada dataset
ordenes_df.head()

,ID_Orden,ID_Equipo,Fecha,Tipo_Mantenimiento,Costo_Mantenimiento,Duracion_Horas,Ubicacion
0,1,465,2020-01-01 00:00:00,Correctivo,1405.20,47,Planta Norte
1,2,418,2020-01-01 01:00:00,Correctivo,5922.92,38,Planta Norte
2,3,228,2020-01-01 02:00:00,Correctivo,7119.05,34,Planta Oeste
3,4,300,2020-01-01 03:00:00,Correctivo,3488.33,38,Planta Oeste
4,5,325,2020-01-01 04:00:00,Correctivo,5611.37,15,Planta Este

In [101]:
# Revisar info del df
ordenes_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10020 entries, 0 to 10019
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID_Orden             10020 non-null  int64
 1   ID_Equipo            10020 non-null  int64
 2   Fecha                10020 non-null  object
 3   Tipo_Mantenimiento   10020 non-null  object
 4   Costo_Mantenimiento  9970 non-null   float64
 5   Duracion_Horas       10020 non-null  int64
 6   Ubicacion            10020 non-null  object
dtypes: float64(1), int64(3), object(3)
memory usage: 548.1+ KB

In [102]:
# Datos vacios
print('Datos vacios en Caracteristicas_Equipos.csv\n',ordenes_df.isna().sum())

Datos vacios en Caracteristicas_Equipos.csv
 ID_Orden                0
ID_Equipo               0
Fecha                   0
Tipo_Mantenimiento      0
Costo_Mantenimiento    50
Duracion_Horas          0
Ubicacion               0
dtype: int64

In [103]:
# Busco filas que tengan el mismo ID_Equipo + Duracion_Horas que la fila con Costo_Mantenimiento vacío y además muestro al final su sumatorio

# Filtrar filas con Costo_Mantenimiento vacío
filas_vacias = ordenes_df[ordenes_df['Costo_Mantenimiento'].isna()]

# Inicializar contador de coincidencias
nan_coincidencias = 0

# Buscar coincidencias en todo el DataFrame
for index, row in filas_vacias.iterrows():
    coincidencias1 = ordenes_df[(ordenes_df['ID_Equipo'] == row['ID_Equipo']) & 
                               (ordenes_df['Duracion_Horas'] == row['Duracion_Horas'])]
    if len(coincidencias1) > 1:
        print(tabulate(coincidencias1, headers='keys'))
        nan_coincidencias += 1

# Mostrar el sumatorio de las filas NaN que han coincidido
print(f'\nSumatorio de filas NaN que han coincidido: {nan_coincidencias}')

        ID_Orden    ID_Equipo  Fecha                Tipo_Mantenimiento      Costo_Mantenimiento    Duracion_Horas  Ubicacion
----  ----------  -----------  -------------------  --------------------  ---------------------  ----------------  -----------
1228        1229          348  2020-02-21 04:00:00  Preventivo                           nan                   15  Planta Este
4424        4425          348  2020-07-03 08:00:00  Correctivo                          9642.19                15  Planta Este
        ID_Orden    ID_Equipo  Fecha                Tipo_Mantenimiento      Costo_Mantenimiento    Duracion_Horas  Ubicacion
----  ----------  -----------  -------------------  --------------------  ---------------------  ----------------  ------------
1437        1438          128  2020-02-29 21:00:00  Preventivo                          9674.38                 1  Planta Oeste
1468        1469          128  2020-03-02 04:00:00  Preventivo                           nan                    1  Planta Norte
        ID_Orden    ID_Equipo  Fecha                Tipo_Mantenimiento      Costo_Mantenimiento    Duracion_Horas  Ubicacion
----  ----------  -----------  -------------------  --------------------  ---------------------  ----------------  ------------
2027        2028          413  2020-03-25 11:00:00  Correctivo                           nan                   26  Planta Norte
6699        6700          413  2020-10-06 03:00:00  Correctivo                          3228.58                26  Planta Sur
        ID_Orden    ID_Equipo  Fecha                Tipo_Mantenimiento      Costo_Mantenimiento    Duracion_Horas  Ubicacion
----  ----------  -----------  -------------------  --------------------  ---------------------  ----------------  ------------
2080        2081          343  2020-03-27 16:00:00  Preventivo                           nan                   45  Planta Norte
5416        5417          343  2020-08-13 16:00:00  Correctivo                          3077.53                45  Planta Este
        ID_Orden    ID_Equipo  Fecha                Tipo_Mantenimiento      Costo_Mantenimiento    Duracion_Horas  Ubicacion
----  ----------  -----------  -------------------  --------------------  ---------------------  ----------------  ------------
2098        2099          196  2020-03-28 10:00:00  Preventivo                           nan                   44  Planta Oeste
3098        3099          196  2020-05-09 02:00:00  Preventivo                          8298.17                44  Planta Oeste
        ID_Orden    ID_Equipo  Fecha                Tipo_Mantenimiento      Costo_Mantenimiento    Duracion_Horas  Ubicacion
----  ----------  -----------  -------------------  --------------------  ---------------------  ----------------  ------------
3124        3125          232  2020-05-10 04:00:00  Correctivo                           nan                   46  Planta Norte
9660        9661          232  2021-02-06 12:00:00  Preventivo                          8880.91                46  Planta Sur
        ID_Orden    ID_Equipo  Fecha                Tipo_Mantenimiento      Costo_Mantenimiento    Duracion_Horas  Ubicacion
----  ----------  -----------  -------------------  --------------------  ---------------------  ----------------  ------------
 190         191          180  2020-01-08 22:00:00  Correctivo                          8133.97                 8  Planta Norte
1049        1050          180  2020-02-13 17:00:00  Preventivo                          7792.94                 8  Planta Oeste
4484        4485          180  2020-07-05 20:00:00  Correctivo                           nan                    8  Planta Este
        ID_Orden    ID_Equipo  Fecha                Tipo_Mantenimiento      Costo_Mantenimiento    Duracion_Horas  Ubicacion
----  ----------  -----------  -------------------  --------------------  ---------------------  ----------------  -----------
4661        4662          353  2020-07-13 05:00:00  Preventivo                            nan                   3  Planta Sur
5865        5866          353  2020-09-01 09:00:00  Correctivo                           5152.4                 3  Planta Sur
        ID_Orden    ID_Equipo  Fecha                Tipo_Mantenimiento      Costo_Mantenimiento    Duracion_Horas  Ubicacion
----  ----------  -----------  -------------------  --------------------  ---------------------  ----------------  ------------
5401        5402          345  2020-08-13 01:00:00  Correctivo                           nan                    4  Planta Norte
8957        8958          345  2021-01-08 05:00:00  Preventivo                           454.97                 4  Planta Norte
        ID_Orden    ID_Equipo  Fecha                Tipo_Mantenimiento      Costo_Mantenimiento    Duracion_Horas  Ubicacion
----  ----------  -----------  -------------------  --------------------  ---------------------  ----------------  ------------
1442        1443          166  2020-03-01 02:00:00  Preventivo                          2061.99                46  Planta Norte
5601        5602          166  2020-08-21 09:00:00  Correctivo                           nan                   46  Planta Este
        ID_Orden    ID_Equipo  Fecha                Tipo_Mantenimiento      Costo_Mantenimiento    Duracion_Horas  Ubicacion
----  ----------  -----------  -------------------  --------------------  ---------------------  ----------------  -----------
  40          41           37  2020-01-02 16:00:00  Correctivo                          1427.58                40  Planta Sur
6065        6066           37  2020-09-09 17:00:00  Correctivo                           nan                   40  Planta Este
        ID_Orden    ID_Equipo  Fecha                Tipo_Mantenimiento      Costo_Mantenimiento    Duracion_Horas  Ubicacion
----  ----------  -----------  -------------------  --------------------  ---------------------  ----------------  ------------
7438        7439          230  2020-11-05 22:00:00  Preventivo                            nan                  11  Planta Este
9213        9214          230  2021-01-18 21:00:00  Correctivo                           7491.8                11  Planta Oeste
        ID_Orden    ID_Equipo  Fecha                Tipo_Mantenimiento      Costo_Mantenimiento    Duracion_Horas  Ubicacion
----  ----------  -----------  -------------------  --------------------  ---------------------  ----------------  ------------
7637        7638          492  2020-11-14 05:00:00  Preventivo                           nan                    6  Planta Este
7674        7675          492  2020-11-15 18:00:00  Preventivo                          9073.16                 6  Planta Oeste
        ID_Orden    ID_Equipo  Fecha                Tipo_Mantenimiento      Costo_Mantenimiento    Duracion_Horas  Ubicacion
----  ----------  -----------  -------------------  --------------------  ---------------------  ----------------  -----------
3082        3083          191  2020-05-08 10:00:00  Correctivo                           740.09                25  Planta Este
7891        7892          191  2020-11-24 19:00:00  Preventivo                           nan                   25  Planta Sur
        ID_Orden    ID_Equipo  Fecha                Tipo_Mantenimiento      Costo_Mantenimiento    Duracion_Horas  Ubicacion
----  ----------  -----------  -------------------  --------------------  ---------------------  ----------------  ------------
1993        1994          304  2020-03-24 01:00:00  Correctivo                          1342.57                38  Planta Sur
3996        3997          304  2020-06-15 12:00:00  Preventivo                          2794.11                38  Planta Sur
9515        9516          304  2021-01-31 11:00:00  Correctivo                           nan                   38  Planta Norte
        ID_Orden    ID_Equipo  Fecha                Tipo_Mantenimiento      Costo_Mantenimiento    Duracion_Horas  Ubicacion
----  ----------  -----------  -------------------  --------------------  ---------------------  ----------------  -----------
7713        7714          457  2020-11-17 09:00:00  Preventivo                          4727.86                16  Planta Sur
8326        8327          457  2020-12-12 22:00:00  Preventivo                          1963.16                16  Planta Este
9732        9733          457  2021-02-09 12:00:00  Preventivo                           nan                   16  Planta Sur
        ID_Orden    ID_Equipo  Fecha                Tipo_Mantenimiento      Costo_Mantenimiento    Duracion_Horas  Ubicacion
----  ----------  -----------  -------------------  --------------------  ---------------------  ----------------  ------------
8906        8907          157  2021-01-06 02:00:00  Correctivo                          8107.61                36  Planta Oeste
9896        9897          157  2021-02-16 08:00:00  Correctivo                           nan                   36  Planta Norte

Sumatorio de filas NaN que han coincidido: 17

In [105]:
# Primero sustituyo el valor de Costo_Mantenimiento vacío por el valor de la línea que coincida ID_Equipo + Duración_Horas + Ubicación

ordenes_df_clean = pd.DataFrame(ordenes_df)

# Filtrar filas con Costo_Mantenimiento vacío
filas_vacias = ordenes_df_clean[ordenes_df_clean['Costo_Mantenimiento'].isna()]

# Buscar coincidencias en todo el DataFrame y reemplazar valores vacíos
for index, row in filas_vacias.iterrows():
    coincidencias2 = ordenes_df_clean[(ordenes_df_clean['ID_Equipo'] == row['ID_Equipo']) & 
                                (ordenes_df_clean['Duracion_Horas'] == row['Duracion_Horas']) &
                                (ordenes_df_clean['Ubicacion'] == row['Ubicacion']) & 
                                (ordenes_df_clean['Costo_Mantenimiento'].notna())]
    if not coincidencias2.empty:
        # Reemplazar el valor vacío en ordenes_df_clean con el valor de la primera coincidencia encontrada
        ordenes_df_clean.at[index, 'Costo_Mantenimiento'] = coincidencias2.iloc[0]['Costo_Mantenimiento']

# Verificar los cambios
print(tabulate(coincidencias2, headers='keys'))

ID_Orden    ID_Equipo    Fecha    Tipo_Mantenimiento    Costo_Mantenimiento    Duracion_Horas    Ubicacion
----------  -----------  -------  --------------------  ---------------------  ----------------  -----------

In [106]:
# Segundo sustituyo el valor de Costo_Mantenimiento vacío por el valor de la línea que coincida ID_Equipo + Duración_Horas

# Filtrar filas con Costo_Mantenimiento vacío
filas_vacias = ordenes_df_clean[ordenes_df_clean['Costo_Mantenimiento'].isna()]

# Buscar coincidencias en todo el DataFrame y reemplazar valores vacíos
for index, row in filas_vacias.iterrows():
    coincidencias3 = ordenes_df_clean[(ordenes_df_clean['ID_Equipo'] == row['ID_Equipo']) & 
                               (ordenes_df_clean['Duracion_Horas'] == row['Duracion_Horas']) &
                               (ordenes_df_clean['Costo_Mantenimiento'].notna())]
    if not coincidencias3.empty:
        # Reemplazar el valor vacío con el valor de la primera coincidencia encontrada
        ordenes_df_clean.at[index, 'Costo_Mantenimiento'] = coincidencias3.iloc[0]['Costo_Mantenimiento']

In [107]:
# Vuelvo a revisar los datos vacíos donde ya he sustituidos los anteirores
print('Datos vacios en Caracteristicas_Equipos.csv\n',ordenes_df_clean.isna().sum())

Datos vacios en Caracteristicas_Equipos.csv
 ID_Orden                0
ID_Equipo               0
Fecha                   0
Tipo_Mantenimiento      0
Costo_Mantenimiento    33
Duracion_Horas          0
Ubicacion               0
dtype: int64

In [ ]:
# Filtrar filas duplicadas basadas en las columnas ID_Equipo y Duracion_Horas
duplicados = ordenes_df[ordenes_df.duplicated(subset=['ID_Equipo', 'Duracion_Horas'], keep=False)]

# Mostrar las filas duplicadas
duplicados

In [ ]:
# Mostrar todas las filas duplicadas
print('\nSumatorio duplicados en sales', ordenes_df.duplicated().sum())
ordenes_df[ordenes_df.duplicated(keep=False)]

In [ ]:
# Extremos
z_scores = (ordenes_df-ordenes_df.mean(numeric_only=True)) / \
    ordenes_df.std(numeric_only=True)
z_scores_abs = z_scores.apply(np.abs)
print(tabulate(z_scores_abs, headers='keys'))

In [ ]:
umbral = 3

out_mask = ~z_scores[z_scores_abs > umbral].isna()
print('\nOutliers per column:\n')
print(out_mask.sum())